/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic pj style*/
    color: #3a3a3a;
    font-family: 'Josefin Sans', sans-serif;

}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #8c8b8b;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    text-transform: capitalize;
    margin: 20px;
}

.mainp {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
}

#imgmagic {

    display: none;
}

h2 {
    text-align: center;
}


a:link {
    text-decoration: none;
}


/*h1 style all pages */
h1 {
    text-transform: uppercase;
    color: #F4FDFF;
    letter-spacing: 2px;

}



/*Pillars of jiu jitsu*/

#bjj-pillars {
    display: flex;



}

#pillars-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#pillars-content img {
    width: 75px;
    height: 75px;
}

/*page gym content mobile*/
main>h2{
    margin-top: 50px;
}

#gyms {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.jsbjj {
    margin-top: 20px;
    margin-bottom: 20px;

}

.address {
    text-transform: capitalize;
}

.tbjj {
    margin-top: 20px;
    margin-bottom: 20px;
}

.infight {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jsbjj>img {
    width: 20%;
    margin-bottom: 10px;
}

.tbjj>img {
    width: 20%;
    margin-bottom: 10px;
}

.infight>img {
    width: 65%;
    margin-bottom: 10px;
    border-radius: 32px;
}

/*meetup time table*/
.takedowndetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.takedowndetail>p{
    font-size: 150%;
    text-decoration: underline;

}

#timetable {
    display: flex;
    color: white;
    background-color: #0e1111;
    text-align: center;
    justify-content: center;

}

.bordertable {
    box-shadow: 0 0 10px white;
    border-radius: 15px 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 150%;

}




/*meetup content form*/
#signup {
    background: url("../images/formmobile.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    
}

/*form style*/

#signup-form>h2 {
    margin-bottom: 20px;
    color: white;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 10px;

}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.checkbox-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.roll-button {
    margin-top: 20px;

    padding: 15px 32px;
    cursor: pointer;
    border: 2px solid #0f172a;
  
    border-radius: 40px;
}
.roll-button:hover{
    background-color: grey;
}

#baseform{
    display: flex;
    flex-direction: row;
}

#baseform p {
    width: 40%;
    padding-top: 20px;
    padding-left: 20px;
}



/*hero image*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-mobile.jpg") no-repeat center center/cover;
    position: relative;
    
}

header {
    background-color: #333;
    font-family: 'Josefin Sans', sans-serif;


    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row-reverse;

}





/*upper footer mobile phones*/
#upperfooter {
    display: flex;

    flex-direction: column;
    justify-content: center;

    background-color: #0e1111;
    margin-top: 15px;
    padding: 20px;

}

#upperfooter a {
    color: white;
}

#upperfooter img {
    
    margin-top: 10px;
    margin-bottom: 10px;


}

.borderimg {
    width: 335px;
    height: 106.7px;
    border-radius: 32px;
}


#videoindex {
    width: 320px;
    height: 320px;
    text-align: center;

}


/*Menu toggle mobile phone*/
nav {
    position: absolute;
    background-color: #333;
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    padding-top: 1rem ;
    display: none;
    top: 100%;
    padding-left: 10px;



}

label {
    padding-left: 10px;
}


.active {

    color: #F4FDFF;
    letter-spacing: 2px;

}


#menu>li a {
    text-transform: uppercase;
}

#menu>li {
    margin-bottom: 1em
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;

}

ul {
    list-style: none;
}


/*tips mobile*/
#tips {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

/* tips page*/
#introtips{
   margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

#introtips h2{
    margin-bottom: 20px;

}

#tips-content div h2{
    margin-top: 20px;
    margin-bottom: 20px;
   
}

#tips-content div p{
    margin-left: 20px;
    margin-right: 20px;
   
}
#trial>a{
    display: flex;
    
    justify-content: center;
    margin-bottom: 20px;
   
   }
   #trial a .btn {
    border: 2px solid white;
    background-color: #333;
    color:white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 32px;
    
   
  }

#tips-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;

}

#nails{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e0dcd9 ;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
}
#mouth-guard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0dcd9 ;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;   
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
}


#clean-kimono{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e0dcd9 ;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#nails img {
    width: 70%;
    border-radius: 32px;
    margin-bottom: 10px;

}

#mouth-guard img {
    width: 70%;
    border-radius: 32px;
    margin-bottom: 10px;
}

#clean-kimono img {
    width: 70%;
    border-radius: 32px;
    margin-bottom: 10px;
}

main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background-color: white;
}
/*footer pages*/
footer {
    background-color: #333;
    font-family: Arial;
    text-align: center;
    color: white;
    text-transform: capitalize;



}

/*footer social media*/


footer {
    display: flex;
    flex-direction: column;
    

}


._14{
    margin-top: 10px;
}

.textfooter{
    margin-bottom: 10px;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 3px;
    align-items: center;
    margin: 10px;
    




}



li a {
    color: white;
}




#upperfooter img {

    width: 100%;


}

#upperfooter {
    align-items: center;
    


}
#upperfooter>a{
    margin: 20px;
}



/*media query:larger or landscape { 576px and up}*/
@media screen and (min-width: 576px) {

    
/*header menu tablets*/

    header {
        flex-direction: column;
        align-items: center;

}
    header h1{
        display: none;
    }

    #imgmagic {


        display: block;
        height: 116px;
        width: 116px;




}
 /*menu*/
 nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;

    align-content: flex-start;
}

#menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 40px;

}



#menu>li {
    padding-left: 1rem;
    float: left;
}

li a {
    display: block;

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    background-color: #111;
}

.nav-toggle-label {
    display: none;
}
    
    /*tips big screen 576px*/
    #introtips{
        margin-top: 160px;
        margin-left: 25px;
        margin-right: 25px;
    }

    #introtips h2{
        margin-bottom: 20px;

    }

    #tips-content div h2{
        margin-top: 20px;
        margin-bottom: 20px;
       
    }

    #tips-content div p{
        margin-left: 20px;
        margin-right: 20px;
        font-size: 150%;
       
    }

    #tips-content div img{
       
        width: 60%;
       
    }


    #tips-content {
        display: flex;
        flex-direction: column;
        align-items: center;
       

    }

    #nails{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#e0dcd9 ;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 80%;
    }
    #mouth-guard{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e0dcd9;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 80%;

    }

    #clean-kimono{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:#e0dcd9 ;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        width: 80%;
    }

    #clean-kimono img {
        width: 25%;
        border-radius: 32px;
        margin-bottom: 10px;
    }

    #mouth-guard img {
        width: 25%;
        border-radius: 32px;
        margin-bottom: 10px;
    }

    #nails img {
        width: 25%;
        border-radius: 32px;
        margin-bottom: 10px;

    }

    /*Pillars big screen 576px*/

    #pillars-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: auto;


    }

/*responsive tablets page timetable meetup*/
.pageh2{
    margin-top: 260px;
}
#signup{
        background-image:url("../images/formhero.jpeg") ;
        background-position-y: -43px;
        position: relative;
        background-size: cover;
        height: 100%;
}

#timetable>h2 {
    text-align: center;
    color: white;
    background-color: #333;


}

#time {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

#time div {
    padding: 15px;
    text-align: center;
    /*this will not wrap on big screens will expand to fill the avaiable space on its row*/
    flex-basis: 300px;
    flex-grow: 1;
}

}

/*media query:tablets and larger {889px and up}*/
@media screen and (min-width: 889px) {


    /*topmenu*/
    header {
        flex-direction: column;
        align-items: center;

    }

    #imgmagic {


        display: block;
        height: 116px;
        width: 116px;




    }

    /*tips big screens*/
    #introtips p{
        font-size: 125%;

    }
    #nails{
        width: 75%;
    }
    #mouth-guard{
        width: 75%;
    }

    #clean-kimono{
        width: 75%;
    }
    #tips-content div p{
        font-size: 125%;
    }

    #tips-content div img{
       
        width: 25%;
       
    }

    /*meetup big screens*/


    #signup {
        background-image:url("../images/formhero.jpeg") ;
        background-position-y: -234px;
        position: relative;
        background-size: cover;
        height: 100%;
        


    }


    #signup-form {
        max-width: 400px;
        margin-top: 150px;
        left: 10%;
        top: 150px;
    }



    /*menu*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;

        align-content: flex-start;
    }

    #menu {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        height: 40px;

    }



    #menu>li {
        padding-left: 1rem;
        float: left;
    }

    li a {
        display: block;

        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-transform: uppercase;
    }

    li a:hover {
        background-color: #111;
    }

    .nav-toggle-label {
        display: none;
    }
    /*end menu big screens*/



    #pillars-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: auto;


    }

    #mindset{
       
    }

    #mindset img{
       
    }

    /*hidden content*/
    #titlepage {
        display: none;
    }
    /*hero big screens 889px*/
    #hero {
        height: 1000px;
        width: 100%;
        background: url("../images/073FFEF7-88B6-4497-B6DD-018B5CA95593.jpg") no-repeat center center/cover;
        position: relative;
      
        background-position-y: -234px;

    }

    /*Upperfooter big screens */

    #upperfooter img {

        width: 404px;
        height: 129px;
        padding-right: 15px;
        margin-right: 15px;
        
    }
        
        
        
        #upperfooter {
            display: flex;
    
            flex-direction: row;
            justify-content: space-around;
    
            background-color: #0e1111;
            margin-top: 15px;
            padding: 20px;
    
        }
        /*footer*/
        ._14{
            margin-top: 15px;
            
            
        }
        
           
            
        
        footer>p{
            margin: 15px;
        }
    
        /*footer social media*/
        footer {
            display: flex;
            flex-direction: row;
    
        }
    
        .social-icons {
            display: flex;
            flex-direction: row;
            margin-top: 10px;
        }
    
    
        .textfooter {
            flex-grow: 2;
        }
    
        /*gyms content page*/
        #gyms {
            display: flex;
        }
    
        .infight img {
            width: 404.47px;
            height: 128.83px;
        }
    
        .pageh2 {
            margin-top: 150px;
            text-transform: capitalize;
        }
    
        /*time table meet up big screens*/
    
        #timetable>h2 {
            text-align: center;
            color: white;
            background-color: #333;
    
    
        }
    
        #time {
    
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
    
        }
    
        #time div {
            padding: 15px;
            text-align: center;
            /*this will not wrap on big screens will expand to fill the avaiable space on its row*/
            flex-basis: 300px;
            flex-grow: 1;
        }
    
       /*tips content*/
      
    
      #trial a .btn:hover{
        background-color: #0e1111;
      }
    
}

    


    

