/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic pj style*/
    color: #3a3a3a;
    font-family: 'Josefin Sans', sans-serif;

}

a:link {
    text-decoration: none;
}

/*h1 style all pages */
h1 {
    text-transform: uppercase;

}



/*Pillars of jiu jitsu*/

#bjj-pillars {
    display: flex;


}

#pillars-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#pillars-content img {
    width: 20%;
}

/*hero image*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/073FFEF7-88B6-4497-B6DD-018B5CA95593.jpg") no-repeat center center/cover;
    position: relative;
}

header {
    background-color: lightgray;
    font-family: 'Josefin Sans', sans-serif;


    padding: 1 0rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row-reverse;

}



/*Menu toggle*/
nav {
    position: absolute;
    background-color: lightgrey;
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    padding-top: 0 1rem;
    display: none;
    top: 100%;


}




.active {
    border-bottom: 1px solid #3a3a3a;

}



#menu>li {
    margin-bottom: 1em
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;

}

ul {
    list-style: none;
}

/*Tecnhiques */

#techniques {
    display: flex;
    flex-direction: column;

}

#positions {

    justify-content: center;
    text-align: center;

}

#sidecontrol img {
    width: 90%;
}

#highguard img {
    width: 90%;
}

#back-control img {
    width: 90%;
}

#full-mount img {
    width: 90%;
}

#half-guard img {
    width: 90%;
}

#tips {
    display: flex;
    flex-direction: column;

}

#tips-content {

    justify-content: center;
    text-align: center;

}

#nails img {
    width: 70%;

}

#mouth-guard img {
    width: 70%;
}

#clean-kimono img {
    width: 70%;
}

main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background-color: white;
}

footer {
    background-color: lightgray;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;



}


/*media query:larger or landscape { 576px and up}*/
@media screen and (min-width: 576px) {

    /* techniques page*/
    #positions {
        column-count: 2;
        column-gap: 0;
        width: 50%;
    }


    /* tips page*/



    #tips-content {
        display: flex;
        flex-direction: row;
        flex-basis: auto;
        width: 100%;
    }

    #clean-kimono img {
        width: 50%;
    }

    #mouth-guard img {
        width: 50%;
    }

    #nails img {
        width: 50%;

    }

    #pillars-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: auto;

    }


}