/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic pj style*/
    color: #3a3a3a;
    font-family: 'Josefin Sans', sans-serif;

}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #8c8b8b;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    text-transform: capitalize;
}

.mainp {
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
}

#imgmagic {

    display: none;
}

h2 {
    text-align: center;
}


a:link {
    text-decoration: none;
}


/*h1 style all pages */
h1 {
    text-transform: uppercase;
    color: #F4FDFF;
    letter-spacing: 2px;

}



/*Pillars of jiu jitsu*/

#bjj-pillars {
    display: flex;



}

#pillars-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

#pillars-content img {
    width: 20%;
}

/*page gym content mobile*/
#gyms {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.jsbjj {
    margin-top: 20px;
    margin-bottom: 20px;

}

.address {
    text-transform: capitalize;
}

.tbjj {
    margin-top: 20px;
    margin-bottom: 20px;
}

.infight {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jsbjj>img {
    width: 20%;
    margin-bottom: 10px;
}

.tbjj>img {
    width: 20%;
    margin-bottom: 10px;
}

.infight>img {
    width: 65%;
    margin-bottom: 10px;
    border-radius: 32px;
}

/*meetup time table*/
#timetable {
    display: flex;
    color: white;
    background-color: #0e1111;
    text-align: center;
    justify-content: center;

}

.bordertable {
    box-shadow: 0 0 10px white;
    border-radius: 15px 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 150%;

}




/*meetup content form*/
#signup {
    background: url("../images/WhatsApp\ Image\ 2023-10-08\ at\ 10.17.22.jpeg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

/*form style*/

#signup-form>h2 {
    margin-bottom: 20px;
    color: white;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 10px;

}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.checkbox-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.roll-button {
    margin-top: 20px;

    padding: 15px 32px;
    cursor: pointer;
    border: 2px solid #0f172a;
    box-shadow: 2px 2px 0 0 white;
    transition-duration: 200ms;
}



/*hero image*/
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/073FFEF7-88B6-4497-B6DD-018B5CA95593.jpg") no-repeat center center/cover;
    position: relative;
    border-radius: 32px;
}

header {
    background-color: #333;
    font-family: 'Josefin Sans', sans-serif;


    padding: 2 0rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row-reverse;

}

#upperfooter {
    display: flex;

    flex-direction: column;
    justify-content: center;

    background-color: #0e1111;
    margin-top: 15px;
    padding: 20px;

}

#upperfooter a {
    color: white;
}

#upperfooter img {
    width: 90%;



}

.borderimg {
    border-radius: 32px;
}


#videoindex {
    width: 320px;
    height: 320px;
    text-align: center;

}


/*Menu toggle*/
nav {
    position: absolute;
    background-color: #333;
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    padding-top: 0 1rem;
    display: none;
    top: 100%;
    padding-left: 10px;



}

label {
    padding-left: 10px;
}


.active {

    color: #F4FDFF;
    letter-spacing: 2px;

}


#menu>li a {
    text-transform: uppercase;
}

#menu>li {
    margin-bottom: 1em
}

.nav-toggle-label {
    font-size: 2rem;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked~nav {
    display: block;

}

ul {
    list-style: none;
}

/*Tecnhiques */

#techniques {
    display: flex;
    flex-direction: column;

}

#positions {

    justify-content: center;
    text-align: center;

}

#sidecontrol img {
    width: 90%;
}

#highguard img {
    width: 90%;
}

#back-control img {
    width: 90%;
}

#full-mount img {
    width: 90%;
}

#half-guard img {
    width: 90%;
}

#tips {
    display: flex;
    flex-direction: column;

}

#tips-content {

    justify-content: center;
    text-align: center;

}

#nails img {
    width: 70%;

}

#mouth-guard img {
    width: 70%;
}

#clean-kimono img {
    width: 70%;
}

main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    background-color: white;
}

footer {
    background-color: #333;
    font-family: Arial;
    text-align: center;
    color: white;
    text-transform: capitalize;



}

/*footer social media*/


footer {
    display: flex;
    flex-direction: column;

}



.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 3px;



}

li a {
    color: white;
}




#upperfooter img {

    width: 100%;


}

#upperfooter {
    align-items: center;


}



/*media query:larger or landscape { 576px and up}*/
@media screen and (min-width: 576px) {

    /* techniques page*/
    #positions {
        column-count: 2;
        column-gap: 0;
        width: 50%;
    }


    /* tips page*/



    #tips-content {
        display: flex;
        flex-direction: row;
        flex-basis: auto;
        width: 100%;
    }

    #clean-kimono img {
        width: 50%;
    }

    #mouth-guard img {
        width: 50%;
    }

    #nails img {
        width: 50%;

    }

    #pillars-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: auto;


    }




}

/*media query:tablets and larger {768px and up}*/
@media screen and (min-width: 768px) {


    /*topmenu*/
    header {
        flex-direction: column;
        align-items: center;

    }

    #imgmagic {


        display: block;
        height: 116px;
        width: 116px;




    }

    /*meetup big screens*/


    #signup {
        background-position: center;
        position: relative;
        background-size: cover;
        height: 100%;

    }


    #signup-form {
        max-width: 400px;
        margin-top: 150px;
        left: 10%;
        top: 150px;
    }



    /*menu*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;

        align-content: flex-start;
    }

    #menu {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        height: 40px;

    }



    #menu>li {
        padding-left: 1rem;
        float: left;
    }

    li a {
        display: block;

        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        text-transform: uppercase;
    }

    li a:hover {
        background-color: #111;
    }

    .nav-toggle-label {
        display: none;
    }

    #pillars-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: auto;


    }

    /*hidden content*/
    #titlepage {
        display: none;
    }

    #hero {
        height: 1000px;
        width: 100%;
        margin-bottom: 20px;
    }

    #upperfooter img {

        width: 50%;


    }


    #upperfooter {
        display: flex;

        flex-direction: row;
        justify-content: space-around;

        background-color: #0e1111;
        margin-top: 15px;
        padding: 20px;

    }

    /*footer social media*/
    footer {
        display: flex;
        flex-direction: row;

    }

    .social-icons {
        display: flex;
        flex-direction: row;
    }


    .textfooter {
        flex-grow: 2;
    }

    /*gyms content page*/
    #gyms {
        display: flex;
        flex-direction: row;
        justify-content: space-between;





    }

    .jsbjj {
        display: flex;
        flex-direction: row;
    }

    .tbjj {
        display: flex;
        flex-direction: row;
    }

    .infight {
        display: flex;
        flex-direction: row;
    }

    .jsbjj>img {
        width: 250px;

    }

    .tbjj>img {
        width: 250px;

    }

    .infight>img {
        width: 404.47px;
        height: 128.83px;
        border-radius: 32px;

    }

    .address {
        margin-left: 40px;
        margin-top: 25px;

    }

    .pageh2 {
        margin-top: 150px;
        text-transform: capitalize;
    }

    /*time table meet up big screens*/
    #timetable {
        margin-top: 50px;
    }

    #timetable>h2 {
        text-align: center;


    }

    #time {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }





}